 
 button{
    background-color: rgb(241, 168, 168);
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100px;
    height: 25px;
    margin: 5px;
    padding: 2px;
}
.sec{
    display: flex;
    flex-direction: row;
}